@page
@model ProfileModel

@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Profile";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-5">
        <h4>User Details</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <label>Email Address: </label>
            </div>
            <div class="col-md-6">
                <label>@Model.EmailAddress</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>First Name: </label>
            </div>
            <div class="col-md-6">
                <label>@Model.FirstName</label>
            </div>
        </div><div class="row">
            <div class="col-md-4">
                <label>Last Name: </label>
            </div>
            <div class="col-md-6">
                <label>@Model.LastName</label>
            </div>
        </div>
    </div>
</div>

